@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model int
<h1>Something unexpected happened.</h1>
<div>Contact Customer Support.  Error is @Model</div>
