#calculator {
    font-family: 'Lato', sans-serif;
    width: 24em;
    -webkit-box-shadow: 0 0 5px #a9a9a9;
    box-shadow: 0 0 5px #a9a9a9;
    background-color: #b0e3e5;
    padding: 0.5em 0;
    font-size: 1.5em;
    color: #585858;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.inline-keys {
    margin-bottom: 0.7em;
}

#calculator #screen {
    border-radius: 1em;
    width: 16.5em;
    height: 1.5em;
    display: inline-block;
    background-color: #3b3b3b;
    margin-left: 1em;
    text-align: right;
    padding: 0 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
