<div role="tabpanel" class="tab-pane" id="back">
    <div class="col-md-12">
        @Html.Partial("partialMaxDisability_40")

        <!--/row-->
        <div class="row">
            <div class="col-md-6">
                <label class="control-label">Do you currently have a rating by the VA for this disability?</label>
                <div class="radio-list">
                    <label class="radio-inline">
                        <input id="backratingtrue" name="backratingrdo" type="radio" value="true" onclick="$('#backratingdiv').removeClass('hidden'); $('#backratingdiv').show(); $('#backincreasediv').show();"> Yes
                    </label>
                    <label class="radio-inline">
                        <input id="backratingfalse" name="backratingrdo" type="radio" value="false" checked="" onclick="$('#backratingdiv').hide(); $('#backincreasediv').hide();"> No
                    </label>
                </div>
                <div id="backratingdiv" class="form-group hidden col-md-8">
                    <label>Current Rating</label>
                    <select id="backratingselect" data-backer="--Select current rating--" class="form-control" onchange="eval_ratingselect_1(this, 'backincreasediv', '40')">
                        <option value="0">--Select rating--</option>
                        <option value="0">0</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="40">40</option>
                    </select>

                    <label class="control-label">Do you have a secondary condition for this disability?</label>
                    <div class="radio-list">
                        <label class="radio-inline">
                            <input id="backsecondaryratingtrue" name="backsecondaryrating" type="radio" value="true" onclick="$('#backsecondaryrating').removeClass('hidden'); $('#backsecondaryrating').show();"> Yes
                        </label>
                        <label class="radio-inline">
                            <input id="backsecondaryratingfalse" name="backsecondaryrating" type="radio" value="false" checked="" onclick="$('#backsecondaryrating').hide();"> No
                        </label>
                    </div>
                    <div id="backsecondaryrating" class="hidden">
                        <label class="control-label">Input the secondary condition as stated in e-benefits</label>
                        <textarea class="form-control" rows="5"></textarea>
                    </div>
                </div>
            </div>
            <div id="backincreasediv" class="col-md-6">
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>