@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calculator Widget</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/colors/default.css" rel="stylesheet">
</head>
<body>
    @RenderBody()


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>

