@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewData["Title"] = "Veteranpp";
    ViewData["Description"] = "Veteranapp";
}

@model MainSite.Models.EvaluationModel

<section id="wrapper" class="login-register">
    <div class="top-left">
        <a class="logo" href="/Home"><b><img src="~/Images/banner-462x150.png" alt="home" /></b></a>
    </div>

    <div class="login-box login-sidebar">
        <div class="white-box">
            <div id="captureformdiv">
                <form id="captureform" class="form-horizontal" action="/Dashboard/Evaluation">
                    <h2>Instant Free Evaluation</h2>
                    <p>Simply provide the info below to immediately see if you qualify for an increase in VA benefits.</p>
                    <label class="info">(Check all that apply)</label>
                    <br />
                    @Html.EditorFor(x => x.IsFirstTimeFiling) First time filing
                    <br />
                    @Html.EditorFor(x => x.HasAClaim) I have a claim with the VA
                    <br />
                    @Html.EditorFor(x => x.HasActiveAppeal) I have an active appeal
                    <br />
                    @*<label class="control-label">Do you currently have a rating by the VA?</label>
                        <br />*@
                    <h3 class="box-title">What is your current VA rating?</h3>
                    <span> It's the overall score from your <a href="https://www.ebenefits.va.gov/" target="_blank">eBenefits</a>.</span>
                    <br />
                    @Html.DropDownListFor(model => model.CurrentRating, (SelectList)ViewBag.CurrentRatingsList)
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button id="btnSubmit" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Submit</button>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            <p>Already submitted your free evaluation? <a href="/Home/Login2" class="text-primary m-l-5"><b>Sign In</b></a></p>
                        </div>
                    </div>

                    @if (ViewData["CookiesEnabled"] != null)
                    {
                        <div class="card">
                            <div class="card-block">
                                <h4 class="card-title">Browser Cookies Disabled</h4>
                                <p class="card-text">This website requires browser cookies to be enabled.  Please enable them before logging in.</p>
                            </div>
                        </div>
                    }
                </form>
            </div>

        </div>
    </div>

    @*<div class="container-fluid">
        <div class="top-left">
            <a class="logo" href="/Home"><b><img src="~/Images/banner-308x100.png" alt="home" /></b></a>
            <a class="logo" href="/Home"><b><img src="~/Images/banner-462x150.png" alt="home" /></b></a>
            <a class="popup-youtube btn btn-danger" href="http://www.youtube.com/watch?v=sK7riqg2mr4">Get Started video</a>
        </div>


    </div>*@
</section>
