@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Product Charge";
    ViewData["Description"] = "Product Charge";
}

@model MainSite.Models.ChargeModel

<div id="page-wrapper">
    <div class="col-xs-12">
        <!-- /.row -->
        <div class="row">
            <h2>You successfully paid <strong>@Model.Amount</strong></h2>
        </div>
        <!--row -->
    </div>
</div>
