@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Dashboard";
    ViewData["Description"] = "The dashboard page";
}


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Dashboard";
    ViewData["Description"] = "The dashboard page";
}

@model MainSite.Models.DashboardModel

<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <!-- /.row -->
        <div class="row">
            <div class="col-md-9 col-lg-9 col-sm-7">
                <div class="panel panel-info">
                    <div class="panel-heading"> Dashboard </div>
                    <div class="panel-wrapper collapse in" aria-expanded="true">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table product-overview">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td width="550">
                                                <h2 class="font-500">Start Your Application</h2>
                                            </td>
                                            <td align="center">
                                                <button onclick="window.location='/Dashboard/Preliminary'" class="btn btn-danger pull-right"><i class="fa fa fa-long-arrow-right"></i> Go</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="550">
                                                <h2 class="font-500">Saved DBQs</h2>
                                            </td>
                                            <td align="center">
                                                <button class="btn btn-danger pull-right"><i class="fa fa fa-long-arrow-right"></i> Go</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="550">
                                                <h2 class="font-500">Unfinished DBQs</h2>
                                            </td>
                                            <td align="center">
                                                <button class="btn btn-danger pull-right"><i class="fa fa fa-long-arrow-right"></i> Go</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="550">
                                                <h2 class="font-500">Resource Links</h2>
                                            </td>
                                            <td align="center">
                                                <button class="btn btn-danger pull-right"><i class="fa fa fa-long-arrow-right"></i> Go</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="550">
                                                <h2 class="font-500">For Any Support Call 619-822-2070 </h2>
                                                <p>Please contact us if you have any question</p>
                                            </td>

                                        </tr>
                                        @*<tr>
                                                <td><img src="../plugins/images/chair2.jpg" alt="iMac" width="80"></td>
                                                <td><h5 class="font-500">Rounded Chair</h5> <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look</p></td>

                                                <td>$153</td>
                                                <td><input type="text" class="form-control" placeholder="1"></td>
                                                <td class="font-500" align="center">$153</td>
                                                <td align="center"><a href="javascript:void(0)" class="text-inverse" title="" data-toggle="tooltip" data-original-title="Delete"><i class="ti-trash text-dark"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td><img src="../plugins/images/chair3.jpg" alt="iMac" width="80"></td>
                                                <td><h5 class="font-500">Rounded Chair</h5> <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look</p> </td>

                                                <td>$153</td>
                                                <td><input type="text" class="form-control" placeholder="1"></td>
                                                <td class="font-500" align="center">$153</td>
                                                <td align="center"><a href="javascript:void(0)" class="text-inverse" title="" data-toggle="tooltip" data-original-title="Delete"><i class="ti-trash text-dark"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td><img src="../plugins/images/chair4.jpg" alt="iMac" width="80"></td>
                                                <td><h5 class="font-500">Rounded Chair</h5> <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look</p></td>

                                                <td>$153</td>
                                                <td><input type="text" class="form-control" placeholder="1"></td>
                                                <td class="font-500" align="center">$153</td>
                                                <td align="center"><a href="javascript:void(0)" class="text-inverse" title="" data-toggle="tooltip" data-original-title="Delete"><i class="ti-trash text-dark"></i></a></td>
                                            </tr>*@
                                    </tbody>
                                </table>
                                @*<hr>
                                    <button class="btn btn-danger pull-right"><i class="fa fa fa-shopping-cart"></i> Checkout</button>
                                    <button class="btn btn-default btn-outline"><i class="fa fa-arrow-left"></i> Continue shopping</button>*@
                            </div>
                            @*<div class="col-md-3 col-lg-3 col-sm-5">
                                    <div class="white-box">
                                        <h3 class="box-title">For Any Support</h3>
                                        <hr>

                                        <h4><i class="ti-mobile"></i> 619-822-2070 </h4>
                                        <small>Please contact with us if you have any questions.</small>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-5">
                <div class="white-box">
                    <h3 class="box-title">Free Evaluation Results</h3>
                    <hr>
                    <small>Current VA Rating</small>
                    <h2>@Model.evaluationResults.CurrentRating %</h2>
                    <hr>
                    <small>Potential VA Rating</small>
                    <h2>50%</h2>
                    <hr>
                    <small>Amount Incease Per Month</small>
                    <h2>$500</h2>
                    <hr>
                    <small>Your Total Per Month After Increase</small>
                    <h2>$1500</h2>
                    <hr>

                    <button class="btn btn-success">Start Your Application</button>
                    @*<button class="btn btn-default btn-outline">Cancel</button>*@
                </div>
            </div>

        </div>


    </div>
</div>
<!-- /#page-wrapper -->





@*<div id="page-wrapper">
    <div class="col-md-12 col-lg-12 col-xs-12">
        <div class="progress skill-bar ">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                <span class="skill">Your Potential VA Rating Increase <i class="val">100%</i></span>
            </div>
        </div>
        <div class="login-box">
            <div class="white-box">
                <form class="form-horizontal form-material" id="loginform" action="/Dashboard/MainMenu">
                    <h3 class="box-title m-t-40 m-b-0">Free Evaluation Results</h3><small>Our results show we can increase your monthly income</small>

                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button id="btnEmailSent" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Get Started</button>
                        </div>
                    </div>
                    <a href="javascript:void(0)" class="text-center db"><img src="~/plugins/images2/banner-308x100.png" alt="Home" /></a>

                </form>
            </div>
        </div>


    </div>
</div>*@


@*<div class="container-fluid">*@

@*<ul class="nav nav-pills nav-wizard">
        <li class="active"><a href="#" data-toggle="tab">Home</a><div class="nav-arrow"></div></li>
        <li><div class="nav-wedge"></div><a href="#" data-toggle="tab">About</a><div class="nav-arrow"></div></li>
        <li><div class="nav-wedge"></div><a href="#" data-toggle="tab">Contact</a></li>
    </ul>*@



@*<!-- .row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title m-b-0">WELCOME</h3>
                <p class="text-muted m-b-30 font-13"> Complete the easy 3 steps to evaluate your VA benefit increase.  Click Next after each step.</p>
                <div id="exampleBasic" class="wizard">
                    <ul class="wizard-steps" role="tablist">
                        <li class="active" role="tab">
                            <h4><span>1</span>Your Current Ratings</h4>
                        </li>
                        <li role="tab">
                            <h4><span>2</span>Some Questions</h4>
                        </li>
                        <li role="tab">
                            <h4><span>3</span>View Your Ready DBQs</h4>
                        </li>
                    </ul>
                    <div class="wizard-content">
                        <div class="wizard-pane active" role="tabpanel">
                            <table id="myTable" class=" table order-list">
                                <thead>
                                    <tr>
                                        <td>Body Part</td>
                                        <td>Current Rating</td>
                                        <td>Which Side?</td>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="5" style="text-align: left;">
                                            <input type="button" class="btn btn-lg btn-default " id="addrowrating" value="Add Disability" />
                                        </td>
                                    </tr>
                                    <tr></tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="wizard-pane" role="tabpanel">
                            <!-- .row -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="box-title m-b-0 m-t-40">PLEASE ANSWER THE QUESTIONS FOR EACH FORM</h4>
                                    <p class="text-muted m-b-30 font-13"> Click on the form tab and answer the questions.</p>
                                    <div class="panel-group wiz-aco" id="accordion" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingOne">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                        Shoulder Form Questions (Click)
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                <div class="panel-body">
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <input id="checkbox_animated_1" type="checkbox">
                                                                <label for="checkbox_animated_1">
                                                                    <span class="check"></span>
                                                                    <span class="box"></span>
                                                                    Shoulder strain
                                                                </label>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <span>Which Side?</span>
                                                                <label class="radio-inline">
                                                                    <input id="isfirsttimefilingtrue" name="isfirsttimefiling" type="radio" value="true"> Right
                                                                </label>

                                                                <label class="radio-inline">
                                                                    <input id="isfirsttimefilingfalse" name="isfirsttimefiling" type="radio" value="false" checked=""> Left
                                                                </label>

                                                                <label class="radio-inline">
                                                                    <input id="isfirsttimefilingfalse" name="isfirsttimefiling" type="radio" value="false" checked=""> Both
                                                                </label>
                                                            </div>

                                                        </div>

                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <input id="checkbox_animated_1" type="checkbox">
                                                                <label for="checkbox_animated_1">
                                                                    <span class="check"></span>
                                                                    <span class="box"></span>
                                                                    Shoulder impingement syndrome
                                                                </label>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <span>Which Side?</span>
                                                                <label class="radio-inline">
                                                                    <input id="isfirsttimefilingtrue" name="isfirsttimefiling" type="radio" value="true"> Right
                                                                </label>

                                                                <label class="radio-inline">
                                                                    <input id="isfirsttimefilingfalse" name="isfirsttimefiling" type="radio" value="false" checked=""> Left
                                                                </label>

                                                                <label class="radio-inline">
                                                                    <input id="isfirsttimefilingfalse" name="isfirsttimefiling" type="radio" value="false" checked=""> Both
                                                                </label>
                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="accordion">
                                                        <h4 class="accordion-toggle">What are your conditions?</h4>
                                                        <div class="accordion-content">


                                                            <h4 class="accordion-toggle">Accordion 2</h4>
                                                            <div class="accordion-content">
                                                                <p>
                                                                    Lorem ipsum dolor sit amet mauris eu turpis.
                                                                </p>
                                                            </div>

                                                            <h4 class="accordion-toggle">Accordion 3</h4>
                                                            <div class="accordion-content">
                                                                <p>
                                                                    Vivamus facilisisnibh scelerisque laoreet.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingTwo">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                            Neck Form Questions (Click)
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                    <div class="panel-body">
                                                        ... Neck Questions ....
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingThree">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                            Collapsible Group Item #3
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                    <div class="panel-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </div>
                            <div class="wizard-pane" role="tabpanel">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->*@





@*</div>*@

