@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Neck";
    ViewData["Description"] = "Neck";
}

@model MainSite.Models.NeckModel


<div id="page-wrapper">
    <div class="col-xs-12">
        <h2 class="box-title m-b-0 m-t-40">Answer a Few Questions About Your Neck Disability</h2>
        <p class="text-muted m-b-30 font-13"> Please answer each form section and click next.  It's best to answer these questions if you have access to your <a href="https://www.ebenefits.va.gov/" target="_blank">eBenefits</a>.  Each part is automatically saved when you finish it.</p>

        <form id="formshoulder" method="post" action="/Dashboard/ShoulderPost?id=6">
            <input id="UserID" name="UserID" class="form-control" type="hidden" value="@Model.UserID">
        </form>
    </div>
</div>

