@Html.Partial("partialMaxDisability_30")
<label class="control-label">Do you currently have a rating by the VA for this disability?</label>
<div class="radio-list">
    <label class="radio-inline">
        <input id="shoulderratingtrue" name="shoulderratingrdo" type="radio" value="true" onclick="$('#shoulderratingdiv').removeClass('hidden'); $('#shoulderratingdiv').show(); $('#shoulderincreasediv').show();"> Yes
    </label>
    <label class="radio-inline">
        <input id="shoulderratingfalse" name="shoulderratingrdo" type="radio" value="false" checked="" onclick="$('#shoulderratingdiv').hide(); $('#shoulderincreasediv').hide();"> No
    </label>
</div><div id="backratingdiv" class="form-group hidden col-md-8">
    <label>Current Rating</label>
    <select id="backratingselect" data-backer="--Select current rating--" class="form-control" onchange="eval_ratingselect_1(this, 'backincreasediv', '40')">
        <option value="0">--Select rating--</option>
        <option value="0">0</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
    </select>
</div>



