@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Product Checkout";
    ViewData["Description"] = "Product Checkout";
}

@model MainSite.Models.ProductCheckoutModel

<div id="page-wrapper">
    <div class="col-xs-12">
        <form id="formsproductdetail" method="post" action="/Dashboard/Checkout">
            <!-- /.row -->
            <div class="row">

                <div class="col-lg-12">
                    <div class="white-box">
                       
                    </div>
                </div>
            </div>
            <!--row -->
        </form>
    </div>
</div>



