
@{
    ViewBag.Title = "Search Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Description"] = "Search Results";
}

@model MainSite.Models.SearchResultModel

<div id="page-wrapper">
    <div class="col-xs-12">
        <!-- /.row -->
        <div class="row">
            <h2>SearchResults</h2>
        </div>
        <!--row -->
    </div>
</div>


