@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Shoulder";
    ViewData["Description"] = "Shoulder";
}

@model MainSite.Models.ShoulderModel


<div id="page-wrapper">
</div>
