@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Neck";
    ViewData["Description"] = "Neck";
}

<div id="page-wrapper">
    <div class="col-xs-12">
        <div class="white-box">
            <h3 class="box-title">For Any Support</h3>
            <hr>
            <h4><i class="ti-mobile"></i> 619-822-2070 (Toll Free)</h4>
            <small>Please contact with us if you have any questions.</small>
        </div>
    </div>
</div>

