@using System.Security.Claims
@using Vetapp.Client.Proxy
@using MainSite.Extensions
@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //UserProxy userProxy = null;
    //userProxy = Session.GetDataFromSession<UserProxy>("userProxy");

    //if ((userProxy == null) && (User.Identity.IsAuthenticated))
    //{
    //    userProxy = new UserProxy();
    //    foreach (var claim in ((ClaimsIdentity)User.Identity).Claims)
    //    {
    //        switch (claim.Type)
    //        {
    //            case "access_token":
    //                userProxy.AuthAccessToken = claim.Value;
    //                break;
    //            case "id_token":
    //                userProxy.AuthIdToken = claim.Value;
    //                break;
    //            case "user_id":
    //                userProxy.AuthUserid = claim.Value;
    //                break;
    //            case "name":
    //                userProxy.AuthName = claim.Value;
    //                break;
    //            case "email":
    //                userProxy.EmailAddress = claim.Value;
    //                break;
    //            case "nickname":
    //                userProxy.AuthNickname = claim.Value;
    //                break;
    //            case "connection":
    //                userProxy.AuthConnection = claim.Value;
    //                break;
    //            case "picture":
    //                userProxy.Profileimageurl = claim.Value;
    //                break;
    //            case "provider":
    //                userProxy.AuthProvider = claim.Value;
    //                break;
    //            default:
    //                break;

    //        }
    //    }
    //    Session.SetDataToSession<UserProxy>("userProxy", userProxy);
//

}

<h2>User authorized activity</h2>

