@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>Valued Veteran Consulting Service (VVCS) is a San Diego, California based company. We strive to assist Veterans in obtaining the greatest benefit possible from the Veteran Affairs (VA) on a case-by-case basis with service tailored to each Veteran. It is our ambition to ensure our Veterans submit a claim to the VA that is substantially complete in order to produce the most efficient and desirable results afforded to the Veteran.

We make this process simple and easy to understand. To help us accomplish this we have put together a team of experts in VA policy and advocates for Veterans that will work with you one-on-one to provide Veterans with the aid they deserve. </p>
