@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Valued Veteran Consulting Services</h1>
    <p class="lead">Helping veterans increase current overall disability.  Get your free no cost evaluation.  Call today 619-822-2070</p>
    <p><a href="" class="btn btn-primary btn-lg">Start Now &raquo;</a></p>
</div>

<div class="row">
    @*<div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Get your free no cost evaluation.  Experts that help.
        </p>
        <p><a class="btn btn-default" href="">Start Now &raquo;</a></p>
    </div>*@
    <div class="col-md-6">
        <h2>Why use Valued Veteran Consulting Services?</h2>
        <p>"What makes our service stand out above the rest are our resources. It’s that simple. If you try to increase your benefits by yourself or with any of the Veterans Service Organizations (DAV, American Legion, VFW, etc.) you put the fate of your getting an increase in the hands of the VA doctors. Well, we all know how frustrating and non-caring these VA examiners can be. What we offer is our own network of doctors that will provide the medical evidence needed to get you that increase you deserve. You will not be able to obtain this kind of service with expertise anywhere else!"</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>We Stay Up-To-Date on VA Policy Changes</h2>
        <p>We have intimate knowledge of how the VA claims process.  We will offer a service that will get you the results you have been waiting for.  VVCS is her to assist.</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>