@charset "utf-8";
/* CSS Document */

  

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

a img {
	border: none;
}

.clear {
	clear: both;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #000;
	background:url(images/bg.jpg) repeat-x top center;
}

body.bg_img2{
	background:url(images/bg_img2.jpg) repeat-x top center;
	height:123px;
}



p {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 22px
}

p.banner_text {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 22px
}

/**** header ****/

.wrapper{
    margin-bottom: 110px;
    padding: 10px 0;
    width: 100%;
}

.wrapper_wrapper{
	width:700px;
	margin:0 auto;
}

.wrapper_mid{
	width:100%;
	float:left;
}

/**** nav ****/
	
.top_nav {
    float: right;
    margin: 0;
    padding: 0;
    width: 270px;
}

.top_nav ul li {
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    list-style: outside none none;
    text-decoration: none;
}

.top_nav ul li a {
    color: #fff;
    display: block;
    padding: 7px 16px;
    text-decoration: none;
}

.top_nav li a:hover {
	color:#033042;
}

.top_nav_inner{
    float: left;
    margin-bottom: 95px;
    width: 100%;
}

/**** header ****/



/**** banner ****/

.banner_sec{
	width:100%;
	float:left;
	text-align:center;
}

h1{
    color: #fff;
    font-size: 48px;
    margin: 25px 0;
    text-transform: uppercase;
}

.get_btn{
    background: rgba(0, 0, 0, 0) url("images/btn_bg.png") no-repeat scroll center top;
    color: #fff;
    float: left;
    font-size: 15px;
    height: 43px;
    margin-bottom: 25px;
    padding-top: 10px;
    text-transform: uppercase;
    width: 100%;
}

.banner_img{
	width:100%;
	float:left;
	margin-bottom:25px;
}

.estimated_sec{
	width:100%;
	float:left;
}
.main-page  .estimated_sec {
    margin-top: 282px;
}
.estimated_sec_inner_box a.get_btn {
margin-left: 50px;
}
.estimated_sec_inner{
	width:100%;
	float:left;
}

.estimated_sec_inner_box{
	width:100%;
	float:left;
	margin-bottom:15px;
}

.estimated_sec_inner_box_left{
    color: #222;
    float: left;
    font-size: 14px;
    margin-top: 10px;
    text-align: left;
    width: 250px;
}

.estimated_sec_inner_box_right{
    background: #e7e7e7 none repeat scroll 0 0;
    border: 1px solid #bdbdbd;
    float: right;
    padding: 12px;
	color:#555;
    width: 420px;
	border-radius:-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
}

h2 {
    color: #004b81;
    font-size: 39px;
    font-weight: 300;
    margin: 40px 0 70px;
    text-transform: uppercase;
}

/**** banner ****/



/**** boxes ****/

.boxes{
    padding: 10px 0;
    width: 100%;
	background:#007ea7;
}

.boxes_wrapper{
	width:980px;
	margin:0 auto;
}

.boxes_mid{
	width:100%;
	float:left;
}

.boxes_mid_inner{
    float: left;
    margin-bottom: 25px;
    margin-top: -115px;
    width: 100%;
}

.call_text{
    color: #fff;
    float: left;
    font-size: 40px;
    font-weight: bold;
    margin: 35px 0;
    text-align: center;
    width: 100%;
}

.box_sec{
    background: #fff none repeat scroll 0 0;
    float: left;
    margin-right: 64px;
    padding: 35px;
    text-align: center;
    width: 214px;
	border-radius:-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
}

h3{
	color:#007ea7;
	font-weight:300;
	margin:0 0 5px 0;
}

/**** boxes ****/



/**** footer ****/

.footer{
    padding: 10px 0;
    width: 100%;
	background:#00171f;
}

.footer_wrapper{
	width:980px;
	margin:0 auto;
}

.footer_mid{
    float: left;
    margin-top: 10px;
    width: 100%;
}

.copyright{
	width:300px;
	float:left;
	color:#fff;
}

.social_media{
	width:100px;
	text-align:right;
	float:right;
}

/**** nav ****/
	
.footer_nav {
    float: left;
    margin: 0;
    padding: 0;
    width: 500px;
}

.footer_nav ul li {
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    list-style: outside none none;
    text-decoration: none;
	background:url(images/stripe.jpg) no-repeat right center;
}

.footer_nav ul li a {
    color: #fff;
    display: block;
    padding: 2px 16px;
    text-decoration: none;
}

.footer_nav li a:hover {
	color:#4cc2ef;
}

.footer_nav2 {
    display:none;
}




/**** footer ****/


/**** signup ****/

.tick{
    margin-bottom: 75px;
    width: 100%;
}

.tick_wrapper{
    background: #0b4569 none repeat scroll 0 0;
    margin: 0 auto;
    padding: 15px 30px;
    width: 300px;
}

.tick_mid{
	width:100%;
	float:left;
}

/**** nav ****/
	
.tick_nav {
    float: right;
    margin: 0;
    padding: 0;
    width: 100%;
}

.tick_nav ul li {
    background: rgba(0, 0, 0, 0) url("images/tick.png") no-repeat scroll left center;
    color: #fff;
    display: block;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    list-style: outside none none;
    padding: 12px 0 12px 30px;
    text-align: left;
    text-decoration: none;
}

.join_btn{
    background: rgba(0, 0, 0, 0) url("images/join_btn.png") repeat scroll right center;
    border: medium none;
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 10px 0;
    text-transform: uppercase;
    width: 446px;
}

.member{
    color: #6b6b6b;
    float: right;
    font-size: 13px;
    font-weight: 300;
    text-align: left;
    width: 57%;
	text-decoration:underline;
}

/**** nav ****/
	
.top_nav2 {
    float: right;
    margin: 0;
    padding: 0;
    width: 600px;
}

.top_nav2 ul li {
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    list-style: outside none none;
    text-decoration: none;
	text-transform:uppercase;
}

.top_nav2 ul li a {
    color: #fff;
    display: block;
    padding: 7px 16px;
    text-decoration: none;
}

.top_nav2 li a:hover {
	background:#003459;
    padding: 7px 16px;
}

.top_nav_inner2 {
    float: left;
    margin-bottom: 12px;
    width: 100%;
}

.wrapper_wrapper2 {
    margin: 0 auto;
    width: 980px;
}

.notification{
    background: rgba(0, 0, 0, 0) url("images/bell_sec.png") no-repeat scroll left center;
    color: #fff;
    float: right;
    margin: 25px 0;
    padding-left: 24px;
    width: 100px;
}

h1.inner_title {
    color: #003459;
    font-size: 48px;
    margin: 55px 0 0;
    text-transform: uppercase;
}

.header{
	width:100%;
	float:left;
}

.inner_title2 {
    color: #003459;
    float: left;
    font-size: 45px;
    font-weight: bold;
    margin: 0 0 30px;
    text-transform: uppercase;
    width: 100%;
}

.tick2{
    margin-bottom: 45px;
    width: 100%;
}

.tick2_wrapper{
    margin: 0 auto;
    width: 460px;
}

.tick2_mid{
	width:100%;
	float:left;
}

.tick_nav2 {
    float: right;
    margin: 0 0 25px;
    padding: 0;
    width: 100%;
}

.tick_nav2 ul li {
    background: rgba(0, 0, 0, 0) url("images/tick2.png") no-repeat scroll left center;
    border-bottom: 1px dashed #999;
    color: #484848;
    display: block;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    list-style: outside none none;
    padding: 12px 0 12px 30px;
    text-align: left;
    text-decoration: none;
}

.start_btn{
	width:100%;
	float:left;
	text-align:center;
	color:#fff;
	font-size:15px;
	text-transform:uppercase;
	font-weight:300;
	background:url(images/start_btn.jpg) no-repeat top center;
	padding:10px 0;
}

.year_sec{
	width:100%;
	float:left;
	margin-bottom:30px;
}

.year_sec_top{
	width:100%;
	float:left;
	background:#4cc2ef;
	padding:14px 0;
	color:#fff;
	font-size:15px;
	text-align:left;
}

.year_sec_top1{
    float: left;
    margin-right: 25px;
    padding-left: 25px;
    width: 380px;
}

.year_sec_top2{
	width:200px;
	float:left;
    margin-right: 25px;
}

.year_sec_top3{
	width:200px;
	float:right;
}

.year_sec_mid{
	width:100%;
	float:left;
	padding:14px 0;
	color:#252525;
	font-size:13px;
	text-align:left;
}

.year_sec_mid1{
    float: left;
    margin-right: 25px;
    padding-left: 25px;
    width: 380px;
}

.year_sec_mid2{
	width:200px;
	float:left;
    margin-right: 25px;
}

.year_sec_mid3{
	width:200px;
	float:right;
}

.year_sec_mid_new{
	width:100%;
	float:left;
	padding:14px 0;
	color:#252525;
	font-size:13px;
	text-align:left;
	background:#d9dcde;
}

.year_sec_mid_new1{
    float: left;
    margin-right: 25px;
    padding-left: 25px;
    width: 380px;
}

.year_sec_mid_new2{
	width:200px;
	float:left;
    margin-right: 25px;
}

.year_sec_mid_new3{
	width:200px;
	float:right;
}

.header_nav {
    display: none;
}


/**** signup ****/



.video_sec{
	width:100%;
	float:left;
}

.video_sec_box{
	width:100%;
	float:left;
	margin-bottom:25px;
}

.gap_sec{
	margin-right:28px;
}


/**** medical_condition_selector ****/

.inner_title3{
	width:100%;
	float:left;
	margin-bottom:25px;
	color:#003459;
	font-size:30px;
}

.start{
    background: #e0e3e4 none repeat scroll 0 0;
    float: left;
    padding: 35px 0 100px;
    width: 100%;
}

.start_wrapper{
    margin: 0 auto;
    width: 470px;
}

.start_mid{
	width:100%;
	float:left;
}

.inner_title4 {
    color: #003459;
    float: left;
    font-size: 35px;
    margin-bottom: 25px;
    width: 100%;
	text-transform:uppercase;
}

.start_form_sec{
	width:100%;
	float:left;
}

.start_form_sec_top{
	width:100%;
	float:left;
	margin-bottom:25px;
    font-size: 15px;
}

.start_form_sec_top_left{
    float: left;
    text-align: left;
    width: 300px;
}

.start_form_sec_top_right{
    float: right;
    text-transform: uppercase;
    width: 160px;
}

.select_sec{
    background: #003459 none repeat scroll 0 0;
    border: medium none;
    float: left;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

.select_sec1{
    background: #FFFFFF;
    border: medium none;
    float: left;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}
#textbox {
    background: #ffffff;
    border: medium none;
    float: left;
    margin-bottom: 10px;
    padding: 10px;
    width: 95%;
}

.text_area{
    border: 1px solid #c3c6c6;
    float: left;
    margin-bottom: 10px;
    min-height: 180px;
    padding: 7px;
    width: 97%;
	color:#555;
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
}

.result_btn{
	background:url(images/start_btn.jpg) no-repeat top center;
	padding:10px 0;
	color:#fff;
	text-transform:uppercase;
	font-size:15px;
	cursor:pointer;
	border:none;
	width:100%;
	float:left;
}

.form_selector{
	width:100%;
	float:left;
}

.form_selector_select{
    background: #00a8e8 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    float: left;
    margin: 20px 0 0;
    padding: 14px;
    width: 100%;
}
		
.start_wrapper2 {
    margin: 0 auto;
    width: 850px;
}

.start_mid_inner{
	width:100%;
	float:left;
	font-size:14px;
	text-align:center;
}

.start_mid_inner_top_text{
    color: #003459;
    float: left;
    margin-right: 25px;
    width: 180px;
}

.start_mid_inner_top {
    float: left;
    margin-bottom: 25px;
    width: 100%;
}

.start_mid_inner_mid_text{
    color: #373737;
    float: left;
    margin-right: 25px;
    width: 180px;
}

.start_mid_inner_mid {
    float: left;
    margin-bottom: 25px;
    width: 100%;
}


/**** medical_condition_selector ****/



/**** dob_form ****/

.dob_form{
    border: 5px solid #ceebf6;
    margin: 0 auto 25px;
    padding: 27px 25px 0;
    width: 400px;
}

.dob_form_box{
    float: left;
    margin-bottom: 25px;
    width: 100%;
}

.dob_form_box_text{
    float: left;
    font-size: 16px;
    font-weight: 300;
    margin: 6px 35px 0 0;
    text-align: right;
    width: 190px;
}

.download_btn{
    background: #005b9b url("images/btn1.jpg") repeat-x scroll 0 0;
    color: #fff;
    float: left;
    font-size: 16px;
    padding: 7px 0;
    text-align: center;
    text-transform: uppercase;
    width: 140px;
	border-radius:-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

.download_btn:hover{
	opacity:0.7;
}
	
.dob_form_main{
	width:100%;
	float:left;
}

.btns_sec{
    margin: 0 auto;
    width: 470px;
}

.btn1{
    background: #005b9b url("images/btn1.jpg") repeat-x scroll 0 0;
    color: #fff;
    float: left;
    font-size: 16px;
    padding: 7px 0;
    text-align: center;
    text-transform: uppercase;
	margin-right:25px;
    width: 140px;
	border-radius:-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

.btn2{
    background: #005b9b url("images/btn2.jpg") repeat-x scroll 0 0;
    color: #fff;
    float: left;
    font-size: 16px;
    padding: 7px 0;
    text-align: center;
    text-transform: uppercase;
    width: 140px;
	margin-right:25px;
	border-radius:-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

.btn3{
    background: #005b9b url("images/btn3.jpg") repeat-x scroll 0 0;
    color: #fff;
    float: left;
    font-size: 16px;
    padding: 7px 0;
    text-align: center;
    text-transform: uppercase;
    width: 140px;
	border-radius:-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

.btn1:hover{
	opacity:0.7;
}

.btn2:hover{
	opacity:0.7;
}

.btn3:hover{
	opacity:0.7;
}

.blue_tagline{
    background: #4cc2ef none repeat scroll 0 0;
    color: #fff;
    float: left;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 25px;
    padding: 12px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}


/**** dob_form ****/



/**** Estimated_Benefits ****/


.dob_form_box_text2 {
    float: right;
    font-size: 16px;
    font-weight: 300;
    margin: 6px 0 0;
    text-transform: uppercase;
    width: 160px;
}

.purchase_btn{
    background: rgba(0, 0, 0, 0) url("images/join_btn.png") no-repeat scroll top center;
    border: medium none;
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 10px 0;
    text-transform: uppercase;
    width: 100%;
	text-align:center;
}

.checkout{
    float: left;
    width: 100%;
}

.checkout_wrapper{
    margin: 0 auto;
    text-align: center;
    width: 380px;
}

.checkout_mid{
	width:100%;
	float:left;
}

.inner_title5 {
    color: #003459;
    float: left;
    font-size: 35px;
    margin-top: 25px;
    text-transform: uppercase;
    width: 100%;
}

.form1{
	width:100%;
	float:left;
	background:#bfbfbf;
	padding:17px 0;
	text-align:center;
	margin-bottom:10px;
	color:#000;
	border-radius:-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.form1:hover{
	background:#d9d9d9;
}

.purchase_btn2{
    background:#0094d7 url("images/btn4.jpg") repeat-x scroll top center;
    border: medium none;
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 10px 0;
    text-transform: uppercase;
    width: 100%;
	text-align:center;
}


/**** Estimated_Benefits ****/




/**** Estimated_results ****/


.result_sec{
	width:100%;
	float:left;
}

.result_left{
	width:460px;
	float:left;
	background:#e4e4e4;
}

/**** nav ****/
	
.result_nav {
    float: left;
    margin: 0;
    padding: 10px;
    width: 95%;
}

.result_nav ul li {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
	background:url(images/arrows.png) no-repeat left center;
    list-style: outside none none;
    text-decoration: none;
    color: #2c2b2b;
    display: block;
    padding: 12px 16px;
    text-decoration: none;
}


.blue_title{
    background: #0072ba none repeat scroll 0 0;
    color: #fff;
    float: left;
    font-size: 15px;
    padding: 14px;
    text-transform: uppercase;
    width: 94%;
}

.result_right {
    background: #e4e4e4 none repeat scroll 0 0;
    float: right;
    width: 460px;
}

.blue_title2{
    background: #003d69 none repeat scroll 0 0;
    color: #fff;
    float: left;
    font-size: 15px;
    padding: 14px;
    text-transform: uppercase;
    width: 94%;
}

.text_top_sec{
	width:100%;
	float:left;
	text-align:center;
}

.dob_form_new{
    margin: 0 auto 25px;
    width: 700px;
}

.dob_form_box_new {
    background: #d9d9d9 none repeat scroll 0 0;
    float: left;
    padding: 25px 0;
    width: 100%;
}

.dob_form_box_new2 {
    background: #bfbfbf none repeat scroll 0 0;
    float: left;
    padding: 25px 0;
    width: 100%;
}


.dob_form_box_text_new {
    float: left;
    font-size: 16px;
    font-weight: 300;
    margin: 6px 35px 0 0;
    text-align: right;
    width: 300px;
}

.dob_form_box_text2_new {
    float: right;
    font-size: 16px;
    font-weight: 300;
    margin: 6px 0 0;
    text-transform: uppercase;
    width: 330px;
}



/**** Estimated_results ****/




/**** member_homepage ****/



.member_btn1{
    background: #bfbfbf none repeat scroll 0 0;
    color: #000;
    float: left;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 12px;
    padding: 14px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.member_btn1:hover{
    background: #ddd none repeat scroll 0 0;
}

.member_btn2{
    background: #17b0ea none repeat scroll 0 0;
    color: #fff;
    float: left;
    font-size: 15px;
    margin-bottom: 12px;
    padding: 14px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.member_btn2:hover{
    background: #0fa1d8 none repeat scroll 0 0;
}

.inner_title6 {
    color: #003459;
    float: left;
    font-size: 35px;
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.saved{
    background: #dedede none repeat scroll 0 0;
    padding: 30px 0 40px;
    width: 100%;
}

.saved_wrapper{
	width:780px;
	margin:0 auto;
}

.saved_mid{
	width:100%;
	float:left;
}

.saved_mid_inner{
	width:100%;
	float:left;
	margin-bottom:15px;
}

.saved_mid_inner_text{
   float: left;
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
    text-align: right;
    width: 38%;
}

.saved_input{
    background: #fff none repeat scroll 0 0;
    border: 1px solid #c6c6c6;
    color: #555;
    float: left;
    padding: 10px 15px;
    width: 470px;
	border-radius:-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
}

.saved_input_btn{
    background: #00a8e8 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 16px;
    padding: 9px 15px;
    text-align: center;
    text-transform: uppercase;
    width: 160px;
	border-radius:-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
margin-left: 93px;
}


/**** member_homepage ****/



/**** benefits_calculator ****/


.calculator_sec{
    float: left;
    margin: 25px 0 0;
    width: 100%;
}

.calculator_sec_top{
	width:100%;
	float:left;
	margin-bottom:25px;
}

.calculator_sec_top_left{
	width:500px;
	float:left;
}

.calculator_sec_top_left_top{
	width:100%;
	float:left;
	margin-bottom:25px;
}

.calculator_sec_top_left_top_box{
	width:100%;
	float:left;
	margin-bottom:25px;
}

.cal_box{
    width: 80px;
	float:left;
	color:#292929;
	font-size:30px;
	text-align:center;
	border:none;
	background:#ccc;
	margin-right:19px;
	padding:5px;
}

.cal_box_btn{
    background: #00a8e8 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 23px;
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
    width: 152px;
}

.calculator_sec_top_left_bottom{
    background: #e0e0e0 none repeat scroll 0 0;
    float: left;
    min-height: 180px;
    padding: 25px 0;
    width: 100%;
}

.calculator_sec_top_left_bottom_inner{
    color: #555;
    float: left;
    font-size: 14px;
    margin: 15px 0;
    width: 100%;
}

.calculator_sec_top_left_bottom_inner_top{
    float: left;
    font-size: 15px;
    margin-bottom: 16px;
    text-transform: uppercase;
    width: 100%;
}

.calculator_sec_top_left_bottom_inner_left{
	width:200px;
	float:left;
}

.calculator_sec_top_left_bottom_inner_right{
	width:200px;
	float:right;
}

.calculator_sec_top_left_right{
	width:440px;
	float:right;
}

.calculator_sec_top_left_right_top{
	width:100%;
	float:left;
	margin-bottom:25px;
}

.calculator_sec_top_left_right_top_boxes{
    border: 2px solid #ccc;
    float: left;
    margin-right: 25px;
    min-height: 425px;
    padding: 20px;
    width: 160px;
}

.calculator_sec_top_left_right_top_text{
    color: #000;
    float: left;
    font-size: 25px;
    margin-right: 16px;
    padding: 12px;
    text-transform: uppercase;
    width: 150px;
}

.calculator_sec_top_left_right_top_input{
    border: 2px solid #ccc;
    color: #000;
    float: left;
    font-size: 19px;
    padding: 14px;
    width: 188px;
}


/**** benefits_calculator ****/




/**** login ****/



body.bg_img3{
	background:#378aaa;
}

.login{
    margin-top: 160px;
    width: 100%;
}

.login_wrapper{
    background: #fff none repeat scroll 0 0;
    margin: 0 auto;
    padding: 40px;
    width: 360px;
}

.login_mid{
    border: 1px solid #50b8e8;
    float: left;
    padding: 25px;
    width: 85%;
	background:#378aaa;
}

.login_title{
    background: rgba(0, 0, 0, 0) url("images/events_img.png") no-repeat scroll right center;
    color: #fff;
    float: left;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
    width: 100%;
}

.login_input{
    background: #fff none repeat scroll 0 0;
    border: medium none;
    color: #555;
    float: left;
    font-size: 15px;
    margin-bottom: 12px;
    padding: 14px;
    width: 91%;
}

.cal_box_btn2 {
    background: #00171f none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 23px;
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.cal_box_btn2:hover {
    background: #000 none repeat scroll 0 0;
}



/**** login ****/




/**** register ****/


.dob_form_register {
    border: 5px solid #ceebf6;
    margin: 25px auto;
    padding: 27px 25px 0;
    width: 650px;
}

.dob_form_box_text_register {
    float: left;
    font-size: 16px;
    font-weight: 300;
    margin: 7px 0 0;
    text-align: right;
    width: 180px;
}

.dob_form_box_text2_register {
    background: #dedede none repeat scroll 0 0;
    border: medium none;
    float: right;
    font-size: 15px;
    font-weight: 300;
    padding: 10px;
	color:#555;
    text-transform: uppercase;
    width: 400px;
}

.dob_form_box_text2_register_btn {
    background: #003459 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    float: left;
    font-size: 15px;
    font-weight: 300;
    margin-left: 51px;
    padding: 10px;
    text-transform: uppercase;
    width: 120px;
	cursor:pointer;
}

.dob_form_box_text2_register_btn:hover {
    background: #42a4c9 none repeat scroll 0 0;
}

/**** register ****/




/**** link ****/

.dob_form_link {
    border: 5px solid #ceebf6;
    margin: 25px auto;
    width: 760px;
}

/**** nav ****/
	
.link_nav_left {
    border-right: 1px solid #ccc;
    float: left;
    margin: 0;
    min-height: 400px;
    padding: 0;
    text-align: center;
    width: 240px;
}

.link_nav_left ul li {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    list-style: outside none none;
    text-decoration: none;
}

.link_nav_left ul li a {
    color: #000;
    display: block;
    padding: 20px 0;
    text-decoration: none;
}

.link_nav_left li a:hover {
	color:#555;
}

/**** nav ****/
	
.link_nav_right {
    float: right;
    margin: 0;
    padding: 0;
    width: 440px;
}

.link_nav_right ul li {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    list-style: outside none none;
    text-decoration: none;
}

.link_nav_right ul li a {
    color: #000;
    display: block;
    padding: 20px 0;
    text-decoration: none;
}

.link_nav_right li a:hover {
	color:#555;
}

/**** link ****/



/**** checkout ****/


.checkout_main{
	width:100%;
	float:left;
	margin:25px 0 0;
}

.checkout_main_title{
	width:100%;
	float:left;
    color: #003459;
    font-size: 24px;
	margin-bottom:10px;
}

.checkout_main_title span {
    color: #555;
    font-size: 14px;
}

.checkout_main_inner{
	width:100%;
	float:left;
}

.checkout_main_inner_left{
    border: 5px solid #ceebf6;
    float: left;
    margin-bottom: 45px;
    padding: 8px;
    width: 95%;
}

.checkout_main_inner_title{
    color: #3cb6db;
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 27px;
    text-transform: uppercase;
    width: 100%;
}

.checkout_main_inner_form{
	width:100%;
	float:left;
}

.dob_form_box_text_checkout {
    float: left;
    font-size: 14px;
    font-weight: 300;
    margin: 7px 0 0;
    text-align: right;
    width: 140px;
}

.dob_form_box_text2_checkout {
    background: #dedede none repeat scroll 0 0;
    border: medium none;
    color: #555;
    float: right;
    font-size: 15px;
    font-weight: 300;
    padding: 10px;
    text-transform: uppercase;
    width: 300px;
}

.dob_form_box_checkout {
    float: left;
    margin-bottom:10px;
    width: 100%;
}

.dob_form_box_text2_checkout2 {
    background: #dedede none repeat scroll 0 0;
    border: medium none;
    color: #555;
    float: right;
    font-size: 15px;
    font-weight: 300;
    padding: 10px;
    text-transform: uppercase;
    width: 320px;
}

.checkout_main_inner_left2{
    float: left;
    width: 100%;
}

.checkout_main_inner_left_main{
	width:525px;
	float:left;
}

.checkout_main_inner_right {
    border: 5px solid #ceebf6;
    float: left;
    margin-bottom: 15px;
    padding: 8px;
    width: 93%;
}

.checkout_main_inner_right_main{
	width:400px;
	float:right;
}

.checkout_main_inner_title_text{
	width:100%;
	float:left;
	margin-bottom:7px;
}

.checkout_main_inner_title_text2{
    float: left;
    font-size: 15px;
    margin-right: 25px;
    text-transform: uppercase;
    width: 77px;
}

.checkout_main_inner_title_text_bottom2{
    float: left;
    font-size: 13px;
	width:100%;
	text-align:right;
	margin:3px 0;
}

.checkout_main_inner_title_text_bottom {
    float: left;
    margin: 55px 0;
    width: 64%;
}



/**** checkout ****/





.tick_nav3 {
    float: right;
    margin: 0 0 25px;
    padding: 0;
    width: 100%;
}

.tick_nav3 ul li {
    display: block;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    list-style: outside none none;
    text-decoration: none;
}

.tick_nav3 ul li a{
    color: #484848;
    display: block;
    list-style: outside none none;
    padding: 12px 0;
    text-decoration: none;
}

.tick_nav3 ul li a:hover{
    color: #000;
}













